.form_user{
    width: 60%;
    margin-left: 20%;
    padding: 15px 5%;
    border-radius: 25px;
    box-shadow:  2px  2px  5px #babecc,
                -5px -5px 10px #ffffff73;
}

.form_group{
    display: flex;
    justify-content: space-between;
}

.form_group label, .form_group p{
    width: 50%;
    padding: 10px 10%;
}

.form_group label:hover, .form_group p:hover{
    font-weight: 700;
}

.return{
    margin: 35vw;
    padding: 5px 10px;
    font-size: 18px;
    outline: none;
    border: none;
    color: #595959;
    border-radius: 25px;
    box-shadow:  2px  2px  5px #babecc,
                -5px -5px 10px #ffffff73;
}
.return:hover{
    color: #000000;
    box-shadow: inset 2px 2px 5px #babecc,
                inset -5px -5px 10px #ffffff73;
}
